{% extends "base.html" %}

{% block content %}
<h3>Sign Up</h3>
{% with messages = get_flashed_messages() %}
{% if messages %}
    <p>
        {{ messages[0] }}. Go to <a href="{{ url_for('auth.login') }}">login page</a>
    </p>
{% endif %}
{% endwith %}
<form action="/signup" method="POST">
    <input type="username" placeholder="Username" name="username" id="username">
    <input type="password" placeholder="Password" name="password" id="password">
    <input type="submit" value="Sign Up">
</form>
{% endblock %}