{% extends "base.html" %}

{% block content %}
<h3>Welcome, {{ current_user.username }}!</h3>

<div class="main-stats">
    <div class="main-stat">
        <h2>{{ current_user.wins }}</h2>
        <p>Guessed</p>
    </div>
    <div class="main-stat">
        <h2>{{ current_user.forfeits }}</h2>
        <p>Forfeited</p>
    </div>
    <div class="main-stat">
        <h2>{{ ((current_user.wins / (current_user.forfeits + current_user.wins) if current_user.wins else 0) * 100)|round }}%</h2>
        <p>Win Rate</p>
    </div>
    <div class="main-stat">
        <h2>{{ current_user.streak }}</h2>
        <p>Current Streak</p>
    </div>
</div>

<div class="stats">
    <p>Total guesses: {{ current_user.total_guesses }}</p>
    <p>Average # of guesses: {{ current_user.total_guesses / current_user.wins if current_user.wins else 0 }}</p>
    <p>Total hints: {{ current_user.total_hints }}</p>
    <p>Average # of hints: {{ current_user.total_hints / current_user.wins if current_user.wins else 0 }}</p>
</div>
{% endblock %}
